@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes spin {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}

.loading-circle {
  width: 28px;
  height: 28px;
  border: 4px solid #f3f3f3;
  border-radius: 50%;
}

.loading-circle.loading {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  animation: spin 1.0s linear infinite;
}

.averia-serif{
  font-family: "Averia Serif Libre", serif;
}

.averia-serif-title{
  font-family: "Averia Serif Libre", serif;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.montserrat{
  font-family: 'Montserrat', sans-serif;
}

.merriweather{
  font-family: "Merriweather", serif;
}

.lato{
  font-family: "Lato", sans-serif;
  font-weight: 500;
  font-style: normal;
}
