@tailwind base;
@tailwind components;
@tailwind utilities;

.leaflet-container, .layer-switch {
    position: absolute;
    top:0;
    left: 0;
}

.wrapper {
    height: 89vh;
    position: relative;
    /* width: 40%; */
    border-radius: 10px;
    border: 5px solid black;
    /* padding: 0;
    margin: 0; */
    padding: 10vh;
}

.leaflet-container {
    height: 88vh;
}

.layer-switch {
    z-index: 10000;
    pointer-events: none;
}

.navbar {
    height: 10vh;
    background-color: #BB0000;
}

.layer-switch > * {
    pointer-events: auto;
}