@tailwind base;
@tailwind components;
@tailwind utilities;

.leaflet-container, .layer-switch {
    position: absolute;
    top:0;
    left: 0;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 90vh;
}

.leaflet-container {
    height: 88vh;
    margin: 1vh 1vw 1vh 1vw;
    
    border-radius: 16px;
    border: 4px solid black;
}

.layer-switch {
    z-index: 10000;
    pointer-events: none;
}

.navbar {
    height: 10vh;
    background-color: #BB0000;
}

.layer-switch > * {
    pointer-events: auto;
}

.legend {
    position: absolute;
    z-index: 999;
    right: 20px;
    bottom: 80px;
    padding:10px 10px;
    box-shadow: 0 0 5px 0 rgba(184, 140, 140, 0.3);
    font-size:12px;
    letter-spacing:2px;
    background: rgba(255,255,255,.2);
    border-radius:5px;
    width: 20%;
    background-color: white;
  }
  
  .legend > div {
  color:black;
  position: relative;
  display: flex;
  height: 20px;
  /* padding: 0 10px; */
}