@tailwind base;
@tailwind components;
@tailwind utilities;

/* Leaflet Assets */
.leaflet-container,
.layer-switch {
  position: absolute;
  top: 0;
  left: 0;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 90vh;
}

.leaflet-container {
  height: 100%;
  width: 100%;
}

.layer-switch {
  z-index: 10000;
  pointer-events: none;
}

.layer-switch>* {
  pointer-events: auto;
}

.loading-overlay {
  z-index: 1;

  font-size: 48px;
  color: #000000;
}

/* Navbar CSS */
.navbar {
  display: flex;
  height: 10vh;
  align-items: center;
  background-color: #b30000;
}

.navbar-home,
.navbar-title {
  flex: 0 0 33.33%;
  background-color: transparent;
  box-sizing: border-box;
}

.navbar-home {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.navbar-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  padding: 16px;

  transition: background-color 0.3s ease-in-out;
  cursor: pointer;
}

.navbar-logo:hover {
  background-color: #800000;
}

/* Data Component Assets */
.data-container {
  position: relative;
  height: 100%;
}

.data-toolbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;

  position: fixed;
  height: 10vh;
  width: 60vw;

  top: 0vh;
  right: -60vw;

  background-color: transparent;
  color: white;

  z-index: 1000;
  padding-right: 24px;
  transition: right 0.8s ease;
}

.data-toolbar.open {
  right: 0vw;
}

.data-component {
  position: fixed;
  height: 90vh;
  width: 60vw;

  top: 10vh;
  right: -60vw;

  background-color: white;
  box-shadow: 4px 4px 8px 4px rgba(0, 0, 0, 0.3);

  padding: 20px;
  z-index: 1000;
  transition: right 0.8s ease;
}

.data-component.open {
  right: 0vw;
}

.toolbar-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 92px;
  height: 100%;
  color: white;

  transition: background-color 0.3s ease-in-out;
  cursor: pointer;
}

.data-toolbar.toolbar-item {
  margin-left: 32px;
}

.toolbar-item.tool-selected {
  background-color: #600000;
  border-left: 1px solid white;
  border-right: 1px solid white;
}

.toolbar-item:hover {
  background-color: #800000;
}

.toolbar-icon {
  font-size: 32px;
  margin-bottom: 5px;
}

.toolbar-label {
  font-size: 14px;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
}

/* Summary Tab CSS */
.data-component-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 100%;
}

.data-component-info-stat-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 200px;
  height: 80px;
  margin: 4px 16px;
  padding: 4px;

  color: #000000;
  font-size: 16px;
}

.table-container {
  width: 100%;
  padding: 32px 16px;
  display: flex;
  justify-content: center;
}

.congress-table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
  background-color: #ffffff;
}

.congress-table th,
.congress-table td {
  padding: 10px 8px;
  border: 1px solid #ddd;
  text-align: center;
  word-wrap: break-word;
}

.congress-table th {
  color: white;
  background-color: #000000;

  font-size: 14px;
  font-weight: bold;
}

.congress-table td {
  font-size: 12px;
}

.congress-table tr:nth-child(even) {
  background-color: #f0eeee;
}

/* Data Tab CSS */
.data-component-data-heatmap {
  display: flex;
  flex-direction: row;

  margin-bottom: 12px;
}

.data-component-data-heatmap-legend {
  flex: 0 0 62%;

  border: 2px solid black;
  padding: 4px 8px;
}

.data-component-data-heatmap-legend-bottom {
  border-top: 2px solid black;
  padding-top: 8px;
  margin-top: 8px;
}

.data-component-data-heatmap-selection {
  flex: 0 0 38%;

  border: 2px solid black;
  border-left: 0px;
  padding: 4px 8px;
}

.data-component-data-heatmap-selection-bottom {
  border-top: 2px solid black;
  padding-top: 8px;
  margin-top: 8px;
}

.data-component-data-heatmap-legend-top,
.data-component-data-heatmap-selection-top {
  height: 120px;
}